/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 10.04.2014, 19:42:58
    Author     : valias
*/

  
  td {
    width: auto;
    height: 40px;
  }
  
  .info_book {
      background-color: #c0c0c0;
  }
  
  .info_book:hover {
      background-color: grey;
  }
  
  input {
    width: 125px;
  }
  form {
    margin: 0px;
    padding: 0px;
  }
  .text {
    border: 1px solid black;
    width: 600px;
    height: auto;
    margin: 20px auto 0px;
    padding: 10px;
    text-align: justify;
    background-color: white;
  }
  .pages {
    width: 622px;
    height: auto;
    margin: 0px auto;
    padding: 0px auto;
    text-align: center;
    padding: 5px 0px;
  }
  .to-left {
    float: left;
    width: 30px;
  }
  .to-center {
    float: left;
    width: 540px;
    overflow: hidden;
  }
  .to-right {
    float: right;
    width: 30px;
  }
  
  .mainpanel {
    width: 600px;
    height: 200px;
    margin: 0px auto;
    border-radius: 5px;
  }
  
  .choose_books {
    margin: 0px auto;
    padding-top: 50px;
    width: 200px;
}
  
  .td_read {
      border-radius: 0px 15px 15px 0px;
  }
  
  .td_read:hover {
      background-color: #222222;
  }
  
  html {
/*      background-color: #AFD0FF;*/
  }
  
  textarea {
      width: 350px;
      height: 100px;
  }